@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nosee</h1>
    <p class="lead">habla habla habla :P</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>One</h2>
        <p>
            Yes you are "Habla"
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Two</h2>
        <p>Again Habla</p>
    </div>
    <div class="col-md-4">
        <h2>Three</h2>
        <p>One last time, habla :D </p>
    </div>
</div>